bin/Debug/net6.0/myproject.dll
obj/Debug/net6.0/ref/myproject.dll
obj/Debug/net6.0/myproject.pdb
obj/Debug/net6.0/myproject.dll
bin/Debug/net6.0/ref/myproject.dll
bin/Debug/net6.0/myproject.pdb
bin/Debug/net6.0/myproject.dll
